@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fillWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes fillCustomWidth {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

@keyframes fillCustomWidth {
  from {
    width: 0;
  }
  to {
    width: var(--target-width);
  }
}

.animate-custom-width {
  animation: fillCustomWidth 1s ease-out forwards;
}

.animate-custom-width {
  animation: fillCustomWidth 1s ease-out forwards;
}

.animate-width {
  animation: fillWidth 1s ease-out forwards;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
